<!DOCTYPE html>
<html>
  <head>
    <title>Contexts/Workspaces on CircleCi</title>
    <meta charset="utf-8">
    <style>
      @import url(https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz);
      @import url(https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic);
      @import url(https://fonts.googleapis.com/css?family=Ubuntu+Mono:400,700,400italic);

      body { font-family: 'Droid Serif'; }
      h1, h2, h3 {
        font-family: 'Yanone Kaffeesatz';
        font-weight: normal;
      }
      .remark-code, .remark-inline-code { font-family: 'Ubuntu Mono'; }
    </style>
  </head>
  <body>
    <textarea id="source">

class: center, middle

# Contexts/Workspaces on CircleCi
How to use workspaces and contexts in CircleCI

---

# Agenda

1. CircleCi
2. Setting config.yml
3. Demo
4. QA

---

# CircleCi

Circle Ci is a continuos deployment tool that help to test, build and deploy applications easier and quicker on multiple platforms.

# config.yml

For setting up a project with CircleCi is neccesary to create a configuration file: `config.yml` in the `.circleci` folder.

---

class: center, middle

# Setting config.yml

---

# Version
Circle Ci version

# Jobs
Independent environment that can execute steps or commands, like:

  1. _Install_
  2. _Execute_
  3. _Build_
  4. _Store cache_
  5. _Restore cache_

---

# Docker image

Docker image used to create the container environment

# Working directory

Current directory where the steps will run

# Steps

Commands that will be executed

# Checkout
Checkout the code from current branch

---

# Run
Execute a bash command

# Save_cache
Store a dir or a file in the CircleCi storage

# Restore_cache
Restore cache with a cache key

---

# Workflows
Set the flow configuration to excecute the jobs, a job can be executed always or in a specific branch or tag, also can can be executed sequentially or in parallel

# Contexts
Are a mechanism for securing and sharing environment variables across projects

# Workspace
The workflow has an associated workspace which can be used to transfer files (_persist_to_workspace_/_attach_workspace_) between jobs


    </textarea>
    <script src="https://remarkjs.com/downloads/remark-latest.min.js">
    </script>
    <script>
      var slideshow = remark.create();
    </script>
  </body>
</html>
